<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Math Birthdays</title>
  </head>
  <div class="page-body">
    <header>Math Birthdays</header>
    <div class="action-container">
      <div class="action-description">
        Select your date of birth to see your next math birthday
      </div>

      <input
        type="date"
        class="date-selector"
        (input)="calculateMathBirthday($event)"
      />
    </div>

    <div class="math-birthday-data-container">
      <span *ngIf="nextMathBirthdayDate && dateOfBirth < currentDate">
        Your next math birthday is on
        {{ nextMathBirthdayDate.toISODate() }} and you will be
        {{ ageNextMathBirthdayInDays }} days old
      </span>
      <span *ngIf="dateOfBirth > currentDate">
        Seems like you've been born in the future. Unfortunately, that's not possible unless you travelled back in time
      </span>
    </div>
  </div>
</html>
